<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ page.title | default: site.github.repository_name }} : {{ page.description | default: site.github.project_tagline }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/privacy.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/public/riceballdb-favicon.ico">

    <title>{{ page.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <header class="page-header">
      <img src="/assets/images/privacy.svg" alt="Privacy Policy">
      <h1>{{ page.title }}</h1>
    </header>

    {{ content }}

  </body>

</html>
